body{
    font-family: arial,verdana, sans-serif;
    line-height: 1;
}

/* input number, get rid of arrows
   Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



a object{
    pointer-events: none;
}

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

/* TIMEWRITETABLE */

.ts-tablediv{
    overflow-x:auto;
    width: 70%;
    margin:0 auto;
}

/* input number, get rid of arrows
   Firefox */
   input[type=number] {
    -moz-appearance: textfield;
  }

.ts-tableProjecten {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ts-groeptitle{
    text-transform: uppercase;
}

.ts-tableProjecten thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.ts-tableProjecten th,
.ts-tableProjecten td {
    padding: 12px 15px;
}

.ts-tableProjecten tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ts-tableProjecten tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ts-tableProjecten tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.ts-tableProjecten tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.ts-urenvak{
    width:60px;
    text-align: center;
}

.ts-totaal {
    outline: none !important;
    background-color: transparent;
    box-shadow: none;
    border:0;
}

.ts-headtitle{
    width:45%;
    text-align: left;
}

.ts-rijactiviteit{
    display:none; 
}

  /* TIMEWRITETABLE */ 