body{
    font-family: arial,verdana, sans-serif;
    line-height: 1;
}

/* input number, get rid of arrows
   Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



a object{
    pointer-events: none;
}


/* TIMEWRITETABLE */

/* input number, get rid of arrows
   Firefox */
   input[type=number] {
    -moz-appearance: textfield;
  }

.ts-tableProjecten {
    border-collapse: collapse;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 1140px;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ts-groeptitle{
    text-transform: uppercase;
}

.ts-tableProjecten thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: center;
}

.ts-tableProjecten th,
.ts-tableProjecten td {
    padding: 12px 15px;
}

.ts-tableProjecten tbody tr {
    border-bottom: 1px solid #dddddd;
}

/* 
.ts-tableProjecten tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
} */

.ts-rijeindtotaal{
    border-top: 2px solid #009879;
}

/* .ts-tableProjecten tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
} */

.ts-tableProjecten tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.ts-urenvak{
    width:60px;
    text-align: center;
}

.ts-totaal {
    outline: none !important;
    background-color: transparent;
    box-shadow: none;
    border:0;
}

.ts-headtitle{
    width:45%;
    text-align: left;
}

.ts-rijactiviteit{
    display:none; 
    background-color: #f3f3f3;
}

.ts-projecttitle{
    text-indent:20px;
    cursor:pointer;
}

.ts-activiteittitel{
    text-indent:40px;
}

.ts-inputtotaal{
    text-align: center;
    outline: none !important;
    background-color: #fff;
    box-shadow: none;
    border:0;
}

.ts-projectarrow{
    color:#808080;
}

.ts-gridcell{
    padding:5px;
}

.ts-submit{
    background-color: #009879;
    border:none;
    color: white;
    padding:8px 32px;
    text-decoration: none;
    cursor:pointer;
    float:right;
    margin-bottom: 25px;
}

  /* TIMEWRITETABLE */ 