{% extends "base.html" %}
{% block title %}<title>TimeFox - Abonnementen</title>{% endblock %}


{% block content %}
<div class="col-12">
  <h1>Overzicht Abonnementen</h1>
</div>
<div>
<form>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Actief</th>
      <th scope="col">Groep</th>
      <th scope="col">Titel</th>
      <th scope="col">Omschrijving</th>
    </tr>
  </thead>
  <tbody>

    
        
    {% for abonnement in abonnementen %}

    <tr>
        {% if abonnement.abo %}
        <td><input type="checkbox" class="form-check-input position-static" id="exampleCheck1" project="{{abonnement.id}}" changed="False" checked></td>
        {% else  %}
        <td><input type="checkbox" class="form-check-input position-static" id="exampleCheck1" project="{{abonnement.id}}" changed="False"></td>
        {% endif %}
        <td>{{abonnement.groep__groep}}</td>
        <td>{{abonnement.titel}}</td>
        <td>{{abonnement.omschrijving}}</td>
    </tr>

    {% endfor %}

</tbody>
</table>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

{% endblock %}


