<!DOCTYPE html>
<html lang="nl">
<head>
  {% block title %}<title>TimeFox</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}

  {% block headblock %}
  {% endblock %}

  <link rel="shortcut icon" href="{%  static 'favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap-4.5.3.min.css' %}" >
  
  {% block extracss %}
  {% endblock %}

  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <script src="{% static 'plugins/jquery/jquery-3.5.1.min.js' %}"></script>

  {% block extrajs %}
  {% endblock %}

</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2">
      {% block sidebar %}
        <ul class="sidebar-nav">
          <li><a href="{% url 'index' %}">Home</a></li>
          <li><a href="{% url 'projecten' %}">Projecten</a></li>
          <li><a href="{% url 'abonnementen' %}">Abonnementen</a></li>
          <li><a href="{% url 'urenschrijven' %}">Uren schrijven</a></li>
          <li><a href="{% url 'rapportage' %}">Rapportages</a></li>
        <!-- New block added for user authentication -->  
        {% if user.is_authenticated %}
          <li>User: {{ user.get_username }}</li>
          <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
        {% endif %}
        </ul>
     {% endblock %}
      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>

</body>
</html>