{% extends "base.html" %}
{% block title %}<title>TimeFox - Projecten</title>{% endblock %}

{% load static %}
{% block headblock %}
<link rel="preload" href="{% static 'images/update.svg' %}" as="image/svg+xml">
{% endblock %}

{% block content %}
  <h1>Projectenoverzicht</h1>
  <a href="project/create/">Project toevoegen</a>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Omschrijving</th>
        <th scope="col">Aanmaker</th>
        <th scope="col">Actief</th>
        <th scope="col">Start</th>
        <th scope="col">Eind</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
  {% for project in projecten %}
  <tr>
    <th scope="row">{{project.id}}</th>
    <td>{{project.project__titel}}</td>
    <td>{{project.project__omschrijving}}</td>
    <td>{{project.aanmaker}}</td>
    <td>{{project.actief}}</td>
    <td>{{project.project__geldigvan|date:'Y-m-d'}}</td>
    <td>{{project.project__geldigtot|date:'Y-m-d'}}</td>
    
    <td><a href="project/{{project.id}}/update/">
        <object data="{% static 'images/update.svg' %}" type='image/svg+xml'></object>
    </a></td>
    <td><a href="project/{{project.id}}/delete/">
        <object data="{% static 'images/delete.svg' %}" type='image/svg+xml'></object>
    </a></td>
  </tr>
  
{% endfor %}
</tbody>
</table>
<a href="project/create/">Project toevoegen</a>


{% endblock %}