{% extends "base.html" %}
{% block title %}<title>TimeFox - Projecten</title>{% endblock %}

{% load static %}
{% block headblock %}
<link rel="preload" href="{% static 'images/update.svg' %}" as="image/svg+xml">
{% endblock %}

{% block content %}
  <h1>Overzicht projecten</h1>
  <a href="project/create/">Project toevoegen</a>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Titel</th>
        <th scope="col">Omschrijving</th>
        <th scope="col">Aanmaker</th>
        <th scope="col">Actief</th>
        <th scope="col"> </th>
        <th scope="col"> </th>
      </tr>
    </thead>
    <tbody>
  {% for project in projecten %}
  <tr>
    <th scope="row">{{project.id}}</th>
    <td>{{project.Titel}}</td>
    <td>{{project.Omschrijving}}</td>
    <td>{{project.AanmakerID}}</td>
    <td>{{project.Actief}}</td>
    
    <td><a href="project/{{project.id}}/update/">
        <object data="{% static 'images/update.svg' %}" type='image/svg+xml'></object>
    </a></td>
    <td><a href="project/{{project.id}}/delete/">
        <object data="{% static 'images/delete.svg' %}" type='image/svg+xml'></object>
    </a></td>
  </tr>
  
{% endfor %}
</tbody>
</table>
<a href="project/create/">Project toevoegen</a>


<!--Testen van cte tree op projecten -->
<table>

  <tr>
    <th>Titel</th>
    <th>Identificatie</th>
    <th>Parent identificatie</th>
    <th>Diepte</th>
  </tr>

  {% for i in parents %}
  <tr>
    <td>{{ i.Titel }}</td>
    <td>{{ i.id }}</td>
    <td>{{ i.ParentID_id }}</td>
    <td>{{ i.depth }}</td>
  </tr>
  {% endfor %}

  {% for i in children %}
  <tr>
    <td>{{ i.Titel }}</td>
    <td>{{ i.id }}</td>
    <td>{{ i.ParentID_id }}</td>
    <td>{{ i.depth }}</td>
  </tr>
  {% endfor %}

</table>


{% endblock %}