{% extends "base.html" %}
{% block title %}<title>TimeFox Rapportage</title>{% endblock %}
{% block content %}
  <h1>Rapportages</h1>
    <h3>De totalen van alle projecten van alle medewerkers</h2>
    <div class="col-sm-4">  
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Uren</th>
        </tr>
      </thead>
      <tbody>
    {% for project in tot_uren_per_project %}
    <tr>
      <td class="col">{{project.Titel}}</td>
      <td class="col text-right">{{project.Totaal}}</td>
    </tr>
{% endfor %}
<tr>
  <td class="col"><strong>Totaal</strong></td>
  <td class="col text-right"><strong>{{cumtot_uren_per_project}}</strong></td>
</tr>
</tbody>
</table>
  </div>

  <h3>De totalen van alle projecten van de ingelogde medewerker</h2>
    <div class="col-sm-4">  
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Uren</th>
        </tr>
      </thead>
      <tbody>
    {% for project in tot_uren_per_project_mdw %}
    <tr>
      <td class="col">{{project.Titel}}</td>
      <td class="col text-right">{{project.Totaal}}</td>
    </tr>
{% endfor %}
<tr>
  <td class="col"><strong>Totaal</strong></td>
  <td class="col text-right"><strong>{{cumtot_uren_per_project_mdw}}</strong></td>
</tr>
</tbody>
</table>
  </div>

  <h3>De totalen van alle projecten van de ingelogde medewerker voor de maand maart 2021</h2>
    <div class="col-sm-4">  
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Project</th>
          <th scope="col">Uren</th>
        </tr>
      </thead>
      <tbody>
    {% for project in tot_uren_per_project_mdw_per %}
    <tr>
      <td class="col">{{project.Titel}}</td>
      <td class="col text-right">{{project.Totaal}}</td>
    </tr>
{% endfor %}
<tr>
  <td class="col"><strong>Totaal</strong></td>
  <td class="col text-right"><strong>{{cumtot_uren_per_project_mdw_per}}</strong></td>
</tr>
</tbody>
</table>
  </div>
{% endblock %}

