{% extends "base.html" %}
{% block title %}<title>TimeFox - Tijdschrijven</title>{% endblock %}
{% block content %}

<h1>Tijdschrijven</h1>

<form>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th class="ts-projecttitel" scope="col">Project</th>
        {% for day in dagenindeweek %}
        <th class="ts-dowtitel">{{day}}</th>
        {% endfor %}
        <th>totaal</th>
      </tr>
    </thead>
    <tbody>
        {% for row in abonnementen %}
        <tr>

            <td scope="row">{{row.ProjectID.Titel}}</td>

            {% for day in dagenindeweek %}
            <td><input class="ts-urenvak" type="text" id="{{row.id}}-{{ forloop.counter }}" ></td>
            {% endfor %}
            <td></td>
            
        </tr>
        {% endfor %}

    </tbody>
    </table>
    <button type="button" class="btn btn-success">Opslaan</button>

</form>
{% endblock %}