{% extends "base.html" %}
{% block title %}<title>TimeFox - Tijdschrijven</title>{% endblock %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'plugins/jquery-ui-1.12.1/themes/jquery-ui-flick.css' %}">
{% endblock %}

{% block extrajs %}

{% load static %}
<script src="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

{% load static %}
<script src="{% static 'plugins/weekpicker/jquery.weekpicker.js' %}"></script>

{% endblock %}


{% block content %}

<h1>Tijdschrijven</h1>

<form method="POST" action="{% url 'urenschrijven' %}">
  {% csrf_token %}

<input type="text" id="weekPicker">

<table class="table">
    <thead class="thead-light">
      <tr>
        <th class="ts-projecttitel" scope="col">Project</th>
        {% for day in dagenindeweek %}
        <th class="ts-dowtitel">{{day}}</th>
        {% endfor %}
        <th>totaal</th>
      </tr>
    </thead>
    <tbody>
        {% for row in abonnementen %}
        <tr>
            
            <td scope="row">{{row.ProjectID.Titel}}</td>

            {% for day in datumsinweek %}
            <td><input class="ts-urenvak" type="text" id="{{row.id}}-{{ forloop.counter0 }}" ></td>
            {% endfor %}
            <td></td>
            
        </tr>
        {% endfor %}

    </tbody>
    </table>
    <input type="submit" value="Submit">

</form>
{% endblock %}