{% extends "base.html" %}
{% block title %}<title>TimeFox - Tijdschrijven</title>{% endblock %}

{% block extracss %}
{% load static %}
<link rel="stylesheet" href="{% static 'plugins/jquery-ui-1.12.1/jquery-ui-flick.css' %}">
<link rel="stylesheet" href="{% static 'plugins/datatables/datatables-1.10.23.min.css' %}">
{% endblock %}

{% block extrajs %}
<script src="{% static 'plugins/datatables/datatables-1.10.23.min.js' %}"></script>
<script src="{% static 'plugins/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'plugins/weekpicker/jquery.weekpicker.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>

{% endblock %}


{% block content %}

<h1>Tijdschrijven</h1>

<form method="POST" id='formGrid' action="{% url 'urenschrijven' %}">
  {% csrf_token %}

<input type="text" id="weekPicker" value="{{ datum }}">

<table class="table" id="tijdgrid">
    <thead class="thead-light">
      <tr>
        <th class="ts-projecttitel" scope="col">Project</th>
        {% for day in dagenindeweek %}
        <th class="ts-dowtitel">{{day}}</th>
        {% endfor %}
        <th>totaal</th>
      </tr>
    </thead>

    <tbody>

      {% for i in tijdgrid %}

        {% if forloop.counter0|divisibleby:7 %}
          <tr><td class="ts-projecttitel">{{ i.Titel }}</td>
        {% endif %}


        <td class='ts-gridcell' style='padding:0'>
            <input class="ts-urenvak" 
                  type="number" 
                  min="0"
                  max="24"
                  step="0.01"
                  id="{{ i.abonnementID }}-{{ forloop.counter0 }}" 
                  abonnementdag = "{{ i.abonnementID }}"
                  dagnummer = "{{ i.dagnummer }}"
                  name="cell_{{ i.abonnementID }}_{% if i.tijdID == None %}0{% else %}{{ i.tijdID }}{% endif %}_{{ i.datum }}"
                  value="{% if i.TijdsDuur == None %}{% else %}{{ i.TijdsDuur }}{% endif %}">
        </td>

        {% if forloop.counter|divisibleby:7 or forloop.last %}
          <td class='ts-totaal'><input type="number" class="ts-abonnementtotaal" abonnement="{{ i.abonnementID }}" disabled></td></tr>
        {% endif %}

      {% endfor %}

      <tr><th>Totaal</th>
        {% for day in dagenindeweek %}
          <td class='ts-totaal'><input type='number' class="ts-dagtotaal" weekdag="{{ forloop.counter0 }}" disabled></td>
        {% endfor %}

        <td class='ts-totaal'><input type='number' id="ts-eindtotaal" disabled></td>
      </tr>


    </tbody>
    </table>

    <span></span>

    <input type="submit" name='saveGrid' value="Submit">

</form>


{% endblock %}